# .github/workflows/auto-assign.yml
name: Auto Assign PRs

on:
  pull_request:
    types: [opened, ready_for_review]

permissions:
  pull-requests: write
  issues: write
  contents: read

jobs:
  assign:
    runs-on: ubuntu-latest
    if: ${{ !endsWith(github.actor, '[bot]') }}
    steps:
      - name: Auto assign PR
        uses: kentaro-m/auto-assign-action@v2.0.1
        with:
          configuration-path: '.github/auto_assign.yml'
